<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/home_layout}">
<head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<title>About</title>



</head>
<title>About</title>
<body>
	<div layout:fragment="content" class="container">
			<div class = "pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            	<h1>About our Company</h1>
            </div>
			
			

			<div class="container py-3">
				<div class="row">
					<div class="col-10 mx-auto">
						<div class="accordion" id="faqExample">
							<div class="card">
								<div class="card-header p-2" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link" type="button"
											data-toggle="collapse" data-target="#collapseOne"
											aria-expanded="true" aria-controls="collapseOne">
											Who are we?</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse show"
									aria-labelledby="headingOne" data-parent="#faqExample">
									<div class="card-body">CloudDeliveries is a company that
										aims to facilitate the whole process of transporting parcels.
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header p-2" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button"
											data-toggle="collapse" data-target="#collapseTwo"
											aria-expanded="false" aria-controls="collapseTwo">
											Who will carry my order?</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse"
									aria-labelledby="headingTwo" data-parent="#faqExample">
									<div class="card-body">CloudDeliveries drivers are
										experienced drivers certified by our services. If any
										anomalies occur during the entire process, CloudDeliveries is
										responsible.</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header p-2" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button"
											data-toggle="collapse" data-target="#collapseThree"
											aria-expanded="false" aria-controls="collapseThree">
											Why CloudDeliveries?</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse"
									aria-labelledby="headingThree" data-parent="#faqExample">
									<div class="card-body">CloudDeliveries is the guarantee
										of success in your orders. The industry leader, it will never
										let you down.</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header p-2" id="headingThree">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button"
											data-toggle="collapse" data-target="#collapseThree"
											aria-expanded="false" aria-controls="collapseThree">
											Authors</button>
									</h5>
								</div>
								<div id="collapseThree" class="collapse"
									aria-labelledby="headingThree" data-parent="#faqExample">
									<div class="card-body">João Santos 73761 | Lucas Barros
										83895 | Vasco Marieiro 81332</div>
								</div>
							</div>
							<br>
							<img id="background"
								src = "https://travisperkins.scene7.com/is/image/travisperkins/next-day-choose-day?fmt=png-alpha"
								class="mx-auto d-block" />

						</div>

					</div>

				</div>
				<!--/row-->
			</div>
			<div></div>



		</div>


</body>
</html>
