<html>

<head>

<script src="../webjars/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
        <script src="../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<style type="text/css">

.cont {
	position : relative;
}

#background {
	width:100%;
	height : 100%;
	opacity : 0.4;
}

h1 {
	position : absolute;
	top : 30%;
	left : 40%;
}

h3 {
	opacity : 0.5;
	
	position : absolute;
	top : 40%;
	left : 41%;
}

button {
	position : absolute;
	top : 50%;
	left : 42%;
	width : 200px;
	height : 50px;
}
</style>
</head>

<body>
	
	<br/>
	<div class="cont">
		<img id="background" src = "https://media.istockphoto.com/photos/delivery-man-holding-pile-of-cardboard-boxes-in-front-picture-id636072098?k=6&m=636072098&s=612x612&w=0&h=cirSVkabXzM28uAxhudvDDQQmozTbnk0FXnC6nz-VIM=" />
		
		<h1 id="title" style= "text-align : center;"><strong>Cloud Deliveries </strong>  </h1>
		
		<h3 id="subtitle" style = "text-align : center;"> your delivery service </h3>
		
		<button id="homepage" class="btn btn-primary"> Get Started! </button>

	</div>
</body>

<script>
	$(document).ready(function(){
		$("#homepage").click(function(){
			window.location.href = "home";
		})
	})
	
</script>

</html>